@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

a {
  list-style: none;
  text-decoration: none;
}
body {
  color: #ffffff;
  color: FFFFFF;
  font-family: "Roboto", "Verdana", "", "Tahoma", sans-serif;
}
/* colores de diseño */
:root {
  --main-color: #2196f3;
  --second-color: #212121;
  --third-color: #757575;
  --fourth-color: #2f303a;
  --fifth-color: #ffffff;
}
/* estilos enlaces&botones Studio&Portafolio */
a:hover {
  color: var(--main-color);
}
button:hover {
  color: var(--main-color);
  cursor: pointer;
}
h3 {
  color: var(--second-color);
}
p {
  color: var(--third-color);
}
.pages-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  width: 1600px;
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav__menu {
  padding: 0%;
  margin-left: 93px;
  display: flex;
  gap: 50px;
  color: var(--second-color);
  list-style: none;
}
.nav__logo {
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: var(--main-color);
  margin-left: 215px;
}

.nav__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 0%;
  margin-left: 320px;
}

.nav__contacts a {
  color: var(--third-color);
  list-style: none;
}
.nav__contacts a:hover {
  color: var(--main-color);
}
.svg-email {
  fill: var(--primary-text-color);
  width: 20px;
  height: 12px;
}
.link__contact {
  display: flex;
  text-align: centers;
}
.svg-smartphone {
  fill: var(--primary-text-color);
  width: 20px;
  height: 20px;
  align-items: center;
}
.hero {
  width: 1600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/backgroundhero.png);
  margin-bottom: 94px;
}

.hero__bg {
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  text-align: center;
  color: var(--fifth-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  width: 200px;
  height: 50px;
  margin-left: 250px;
  padding: 0%;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text__btn {
  width: 198px;
  height: 30px;
  color: var(--fifth-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.benefits {
  width: 1170px;
  height: 251px;
  margin: 94px auto;
  font-family: "Roboto";
}

.benefits__list {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;
  width: 1170px;
  height: 251px;
  color: var(--second-color);
  gap: 30px;
}
.benefits__title {
  width: 270px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits__description {
  width: 270px;
  height: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--third-color);
  letter-spacing: 0.03em;
  margin-bottom: 94px;
}
.container__svg {
  width: 270px;
  height: 120px;
  display: flex;
  background: #f5f4fa;
  border-radius: 4px;
}

.svg__benefits {
  width: 69.32px;
  height: 70px;
  margin: 25px auto;
}
.title__h2 {
  margin: 0px;
  color: var(--second-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.title__team {
  margin-top: 50px;
}
.what-we-do {
  margin: 94px auto;
  width: 1170px;
  height: 386px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list__img {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.team {
  width: 1600px;
  height: 708px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f4fa;
}
.team__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  text-align: center;
}

.team__card {
  width: 270px;
  height: 428px;
  background: var(--fifth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__networks{
  margin: 16px 32px 30px 32px;
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 22.33px;
}

.team__svg{
  width: 20px;
  height: 20px;
  fill: #AFB1B8 ;
  background-color:var(--fifth-color);
}
.container__footer{
  width: 1600px;
  height: 252px;
  background: #2F303A;
}
